
html, body {
	margin:0;
	padding:0;
	height:100%;
	overflow:hidden;
	background:#1e1e1e;
	font-family:Arial;
	color:white;
}

#toolbar {
	height:45px;
	background:#252526;
	display:flex;
	align-items:center;
	gap:10px;
	padding:1px 5px;
}

button {
	background:#0e639c;
	color:white;
	border:0;
	padding:6px 16px;
	cursor:pointer;
	border-radius: 2px;
}

button:hover {
	background:#1177bb;
}

#editor {
	height:calc(100% - 45px);
}

#dropZone {
	position:absolute;
	top:55px;
	left:20px;
	right:20px;
	bottom:20px;
	pointer-events:none;
	border:2px dashed transparent;
	z-index:10;
}

#dropZone.drag {
	border-color:#00aaff;
	background:rgba(0,150,255,.1);
}

.dropdown {
	position: relative;
	z-index: 333;
}
.dropdown-content {
	display: none;
	position: absolute;
	min-width: 130px;
}
.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
}
.dropdown-item {
	border-top: 1px solid rgb(40, 40, 40);
	text-align: left;
}

.button-side-dropdown {
	width: 20px;
	padding-left: 0;
	padding-right: 0;
	border-radius: 0 2px 2px 0;
}
#save-as {
	position: absolute;
	left: -63px;
}

.tab-name {
	margin: 6px 15px;
	font-size: 15px;
	background: #353535;
	border-radius: 7px 7px 0px 0px;
	color: #d6c08d;
	padding: 2px 12px;
}
